name: CI

on: [workflow_dispatch]

jobs:
  build:

    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install OpenSSH and start SSH service
        run: |
          mkdir -p ~/.ssh
          echo $AUTH_KEY >> ~/.ssh/authorized_keys
          chmod 600 ~/.ssh/authorized_keys
          chmod 700 ~/.ssh

          # 启动 SSH 服务
          sudo systemsetup -setremotelogin on
        env:
          AUTH_KEY: ${{ secrets.AUTH_KEY }}
      
      - name: start ngrok
        run: brew install ngrok
      - run: ngrok authtoken $NGROK_AUTH_TOKEN
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      - run: ngrok tcp 22
